server:
  port: 8080

spring:
  datasource:
    url: jdbc:mysql://localhost:3306/test?characterEncoding=utf-8&serverTimezone=GMT%2B8
    username: root
    password: 123456
    driver-class-name: com.mysql.jdbc.Driver
    type: com.alibaba.druid.pool.DruidDataSource
    initialSize: 5
    minIdle: 5
    maxActive: 20
    maxWait: 1000
    timeBetweenEvictionRunsMillis: 60000
    minEvictableIdleTimeMillis: 300000
    validationQuery: SELECT 1 FROM DUAL
    testWhileIdle: true
    testOnBorrow: false
    testOnReturn: false
    poolPreparedStatements: true
    maxPoolPreparedStatementPerConnectionSize: 20
    filters: stat,wall,log4j
    connectionProperties: druid.stat.mergeSql=true;druid.stat.slowSqlMillis=5000
    logSlowSql: true
  druid:
    login:
      username:  admin
      password:  123456
  jackson:
    time-zone: GMT+8
    date-format: yyyy-MM-dd HH:mm:ss
  redis:
    database: 6
    host: 139.159.187.136
    port: 6400
    password: maiyue_123!@#
    jedis:
      pool:
        max-idle: 8
        max-wait: 3000
        max-active: 8
        min-idle: 0
    timeout: 5000

mybatis:
  config-location: classpath:/mybatis/sqlConfig.xml
  mapper-locations: classpath*:mybatis/task/*.xml
  type-aliases-package: com.study.task.scheduledtask.model